.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore experiments script and old code
experiments.R
theincomparable

# Ignore outputs
*.html
assets/*
*.png
site_libs

# Ignore syncthing files
.stfolder
.stignore

*_files
push.sh
